.header{
    margin: 50px;
    padding: 5px;
    background-color: beige;
    width: 350px;
    border-radius: 20px;
    -webkit-box-shadow: -5px 1px 40px 20px rgba(255,255,255,1);
    -moz-box-shadow: -5px 1px 40px 20px rgba(255,255,255,1);
    box-shadow: -5px 1px 40px 20px rgba(255,255,255,1);
}

h1{
    font-size: 50px;
    font-style: italic;
}

.radioButtonWrapper{
    margin: 50px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

input{
    margin: 5px;
}

.confirmButton{
    margin-top: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
}

#p-users{
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    background-color: beige;
    margin: 50px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
}

.roleButton {
    margin: 10px;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    font-style: italic;
    -webkit-box-shadow: 3px 4px 13px -1px rgba(255,255,255,0.73);
    -moz-box-shadow: 3px 4px 13px -1px rgba(255,255,255,0.73);
    box-shadow: 3px 4px 13px -1px rgba(255,255,255,0.73);
}

.rolesWrapper{
    margin: 10px 50px 50px 50px;

}

#user-p{
    margin-left: 20px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
}

.usersWrapper{
    margin: 5px;

}